
export(browserManager)
export(run_shiny)
import(McMasterPandemic)
import(ggplot2)
import(shiny)
importFrom(anytime,anytime)
importFrom(config,get)
importFrom(directlabels,direct.label)
importFrom(graphics,plot)
importFrom(scales,log10_trans)
importFrom(scales,math_format)
importFrom(scales,trans_breaks)
importFrom(scales,trans_format)
importFrom(shinyWidgets,prettyCheckbox)
importFrom(shinyWidgets,setBackgroundColor)
importFrom(shinythemes,shinytheme)
importFrom(stringr,str_length)
importFrom(utils,write.csv)
